@charset "utf-8";

/* 共通部分 */

a{
    text-decoration: none;
    color: black;
}

table{
    width:400px;
}
table th{
    width: 100px;
}

/* 全体のレイアウト */

body{
    max-width: 1115px;
    margin: 0 auto;
    font-family: "verdana"
}

.content{
    display: flex;
}

nav{
    width: 27%;
}

main{
    width: 76%;
}

/* header */

.logo{
    margin: 30px 0 5px 0;
    padding: 25px;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "Ricty Diminished";
}

.dew{
    color: #f59c42;
}

.save{
    color: greenyellow;
}
.white{
    color: white;
}

/* nav */

.user_name{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

nav{
    margin-top: 15px;
    font-size: 14px;
}
nav li{
    margin-bottom: 12px;
}

nav a{
    color: black;
}

nav a:hover{
    color: red;
}

/* footer */
.copy_right{
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
}

/* home.html */

.signup_link{
    font-size: 40px;
}

.login_link{
    font-size: 40px;
}

.signup_link:hover{
    color: red;
}

.login_link:hover{
    color: red;
}

.home_top_space{
    height: 20px;
}

.home_bottom_space{
    margin-top:330px;
}

/* signup.html */

.signup_bottom_space{
    margin-top: 10px;
    margin-bottom:197px;
}

/* login.html */

.login_bottom_space{
    margin-bottom:229px;
}

.login_button{
    margin-top: 10px;
}

.lost_password_link:hover{
    color: red;
}

/* account.html */

.account_table{
    width:650px;
}

.account_table th{
    width:165px;
}

/* all_wine.html */

.main_title{
    font-size: 19px;
    text-align: center;
}

.item_date_time{
    margin-top: 0;
    margin-bottom: 0;
}

.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.item img{
    width: auto;
    max-height: 265px;
}

.item:hover img{
    opacity: 0.7;
    transition-duration: 0.3s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
    transform: translateY(-5px);
    transition-duration: 0.5s;
  }

.item_date_time{
    margin-top: 3.5px;
    margin-bottom: 0;
}

.item_user_name{
    margin-top: 0;
}

center{
    margin-top: 25px;
    margin-bottom: 20px;
}

.pagination:hover{
    color: red;
}

/* detail_wine.html */ 

.detail_wrapper{
    display: flex;
}

.detail_wine_table{
    margin-top: 55px;
    margin-left: 46px;
}

.detail_wine_table input{
    margin-top: 10px;
}

/* my_wine.html */

.item_date_time2{
    margin-top: 3.5px;
    margin-bottom: 16px;
}

/* update_wine.html */

.update_wine_table{
    margin-top: 30px;
    margin-left: 46px;
}

.update_button{
    margin-top: 7px;
    margin-right:150px
}

.delete_button{
margin-left: 700px
}

/* パスワードリセット共通 */

.password_button:hover{
    color:red;
}
