@charset "utf-8";

body{
    max-width: 1150px;
    margin: 0 auto;
}

.content{
    display: flex;
}

nav{
    width: 30%;
}

main{
    width: 70%;
}






/* header */

.logo{
    margin: 30px;
    padding: 30px;
    display: inline-block;
    background-color: black;
    color: white;
}

.dew{
    color: #f59c42;
}

.save{
    color: greenyellow;
}
