@charset "utf-8";

/* common */
a{
    text-decoration: none;
}

/* レイアウト */

body{
    max-width: 1110px;
    margin: 0 auto;
}

.content{
    display: flex;
}

nav{
    width: 30%;
}

main{
    width: 70%;
}

/* header */

.logo{
    margin: 30px 0 5px 0;
    padding: 25px;
    display: inline-block;
    background-color: black;
    color: white;
}

.dew{
    color: #f59c42;
}

.save{
    color: greenyellow;
}

/* nav */

.user_name{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

nav{
    margin-top: 15px;
}
nav li{
    margin-bottom: 12px;
}

nav a{
    color: black;
}

nav a:hover{
    color: red;
}

/* main */

/* all_wine */

.main_title{
    font-size: 24px;
    text-align: center;
}

.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.item img{
    width: auto;
    max-height: 265px;
}

.item_date_time{
    margin-top: 0;
    margin-bottom: 0;
}

.item_user_name{
    margin-top: 0;
}

center{
    margin-top: 25px;
    margin-bottom: 20px;
}




/* footer */
.copy_right{
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
}






