{% extends 'wine/layout.html' %}

{% block title %}account{% endblock %}


{% block main%}

    <a href="{% url 'wine:all' %}">〇wine posts</a>
    <a href="{% url 'wine:my' %}">〇my wine</a>
    <a href="{% url 'wine:add' %}">〇add</a>
    <a href="/update_user/{{user.id}}/">〇account</a>
    <a href="{% url 'account:logout' %}">〇logout</a>

{% if user.is_authenticated %}
    <p>{{ user.get_username }}でログイン中</p>
{% else %}
    <p>ログインしていません</p>
{% endif %}


<h1>User account</h1>

<form action="/update_user/{{object.id}}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="update">
</form>


<form action="/delete_user/{{object.id}}/" method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>    

{% endblock %}