{% extends 'wine/layout.html' %}

{% block title %}account{% endblock %}

{% block main%}

<p class="main_title">account</p>

<center>
    <form action="/update_user/{{object.id}}/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="account_table">
            {{form.as_table}}
        </table>
        <input class="account_update_button" type="submit" value="update">
    </form>

    <form action="/delete_user/{{object.id}}/" method="post">
        {% csrf_token %}
        <input class="account_delete_button" type="submit" value="delete">
    </form>    
</center>

{% endblock %}