{% extends 'wine/layout2.html' %}

{% block title %}login{% endblock %}

{% block main%}
    <p class="main_title">login</p>

    {% if form.errors %}
        <p>お名前とパスワードが一致しません。</p>
        <p>もう一度お試し下さい。</p>
    {% endif %}


    <form method="post" action="{% url 'account:login' %}">
        {% csrf_token %}
            <table>
                <tr>
                    <td>user name</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="login">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="space3"><a class="lost_password_button" href="{% url 'account:password_reset' %}">lost password?</a></p>

{% endblock %}