{% extends 'wine/layout2.html' %}

{% block title %}login{% endblock %}

{% block main%}
<p class="main_title">login</p>

{% if form.errors %}
    <p>お名前とパスワードが一致しません。</p>
    <p>もう一度お試し下さい。</p>
{% endif %}


<form action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>user name</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>password</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input class="login_button" type="submit" value="login">
</form>
  
<p class="login_bottom_space"><a class="lost_password_link" href="{% url 'account:password_reset' %}">lost password?</a></p>

{% endblock %}