{% extends 'wine/layout2.html' %}

{% block headertitle %}password reset{% endblock %}


{% block main %}
    <form action="" method="POST">
        {{ form.non_field_errors }}
        <p>パスワードの変更手続きを行います。</p>
        <p>メールアドレスを入力して送信ボタンを押してください。</p>
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}

        <!-- <pre>メールアドレスはあらかじめシステムに登録が必要です。メールが届かない場合はシステム管理者に連絡してください。</pre> -->
        
        <br/>
        <div>
        <div>
            <button type="submit">send</button>
        </div>
        </div>
    </form>
{% endblock %}