{% extends 'wine/layout.html' %}

{% block title %}All Wine{% endblock %}

{% block main%}

    <a href="{% url 'wine:add' %}">add</a>
    <a href="{% url 'account:logout' %}">logout</a>
    <a href="/update_user/{{user.id}}/">account</a>


    {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}
    

    <h1>Wine List</h1>

    <table>
        <tr>
            <th>user</th>
            <th>wine name</th>
            <th>sort</th>
            <th>country</th>
        </tr>

        {% for item in object_list %}
        <tr>
            <td>{{item.user}}</td>
            <td>{{item.name}}</td>
            <td>{{item.sort}}</td>
            <td>{{item.country}}</td>
        {% if item.pic %}
           <td><a href="/update_wine/{{item.id}}/" ><img src='{{item.pic.url}}' width="78px"></a></td>
        {% endif %}
        </tr>
        {% endfor %}

    </table>


    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}

{% endblock %}
  

   



   
