{% extends 'wine/layout.html' %}

{% load static %}

{% block title %}Detail wine{% endblock %}


{% block main%}

    <a href="{% url 'wine:all' %}">〇wine posts</a>
    <a href="{% url 'wine:my' %}">〇my wine</a>
    <a href="{% url 'wine:add' %}">〇add</a>
    <a href="/update_user/{{user.id}}/">〇account</a>
    <a href="{% url 'account:logout' %}">〇logout</a>


    {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}

 
    <table>
        <img src="{{object.pic.url}}" width="400">
        <tr><th>user</th><td>{{object.user}}</td></tr>
        <tr><th>date</th><td>{{object.date}}</td></tr>
        <tr><th>name</th><td>{{object.name}}</td></tr>
        <tr><th>sort</th><td>{{object.sort}}</td></tr>
        <tr><th>country</th><td>{{object.country}}</td></tr>
        <tr><th>vintage</th><td>{{object.vintage}}</td></tr>
        <tr><th>grape</th><td>{{object.grape}}</td></tr>
        <tr><th>eye</th><td>{{object.eye}}</td></tr>
        <tr><th>nose</th><td>{{object.nose}}</td></tr>
        <tr><th>mouth</th><td>{{object.mouth}}</td></tr>
        <tr><th>memo</th><td>{{object.memo}}</td></tr>
        <tr><th>point</th><td>{{object.point}}</td></tr>
    </table>
    
{% endblock %}