{% extends 'wine/layout.html' %}

{% block title %}my wine{% endblock %}

{% block main%}

<p class="main_title">my wine</p>

<table>
    <div class="grid">
        {% for item in object_list %}
        <div class="item">
            <a href="/update_wine/{{item.id}}/" ><img src='{{item.pic.url}}'></a>
            <p class="item_date_time2">{{item.date}}</p>
        </div>
        {% endfor %}
    </div>
</table>

<center>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}
</center>

{% endblock %}