{% extends 'wine/layout.html' %}

{% block title %}Detail Wine{% endblock %}

{% block main%}

    <h1>Detail Wine</h1>
    <img src="{{object.pic.url}}" width="400">
    <form action="/update_wine/{{object.id}}/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="update">
    </form>


    <form action="/delete_wine/{{object.id}}/" method="post">
        {% csrf_token %}
        <input type="submit" value="delete">
    </form>    

{% endblock %}