@charset "utf-8";

/* account */

/* .account_update_button{
    margin-right: 50px;
    display: inline-block;
    text-align: left;
}

.account_delete_button{
    margin-right: 300px;
    text-align: left;

} */